/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f3e9; 
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #6c4f4f; 
    padding: 10px 20px;
}

.bakery-name {
    color: #fff; 
    font-size: 24px; 
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline; 
}

#navbar a {
    color: #f2f2f2; 
    text-decoration: none;
    padding: 14px 20px;
}

#navbar a:hover {
    background-color: #d9b89c; 
}

/* Change navbar color on scroll */
.scrolled {
    background-color: #5b3e3e; 
}

/* Content styling */
.content {
    padding-top: 70px; 
}

section {
    padding: 50px;
}

h1, h2 {
    color: #6c4f4f; 
}

p {
    color: #666; 
}

.main-image {
    width: 60%; 
    height: auto; 
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    gap: 15px; 
}

.image-gallery img {
    width: 60%; 
    height: auto; 
}

.menu-items {
    display: flex;
    flex-wrap: wrap; 
}

.menu-item {
   flex-basis: calc(33.33% - 20px); 
   margin-right: 10px; 
   text-align: center;
}

.menu-item img {
   width: 60%; 
   height: 50;
}


.menu-item:nth-child(3n) {
   margin-right: 0; 
}


.menu-list {
   list-style-type: none; 
}
